/* body {
  font-family: monospace;
} */

.title,
.content {
  font-family: monospace;
}

.title {
  text-align: center;
}

.content::first-letter {
  font-size: 1.5rem;
}

.title:hover {
  color: brown;
}

/* button {
  display: block;
  margin: auto;
} */

.container {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
}
